.Home {
  color: white;
  background-color: black !important;
  text-align: center;
  background-image: url("./images/bg1.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: black;
}
